@{
    ViewBag.Title = "Información";
}

<div class="panel panel-default" style="width: 90%;margin-left: 5%;background: rgb(170, 206, 228);color: white;font-size: 115%">
    <div class="panel-body" >
        <div style="text-align:center">
            @Helpers.TagHelper.img(Url, "image.png")
        </div>

       <strong style="text-align:center">Objetivos del Currículum</strong> 
	
        <ul> 
            
            <li>Poner en práctica los conocimientos universitarios adquiridos, en una empresa que brinde la oportunidad de desarrollo profesional en distintas áreas con el objeto de proveer servicio laboral calificado y buscar el mejoramiento continuo.</li>
	        <li>Alcanzar el desarrollo personal por medio de la experiencia adquirida en la empresa diariamente y aportar ideas innovadoras y relevantes a través de destrezas individuales buscando el mejoramiento profesional y personal.</li>
	        <li>Lograr inserción en el mercado laboral a través de la implementación de los conocimientos adquiridos con la finalidad de adquirir experiencia y desarrollar habilidades con la realización de la práctica de especialidad. </li>
        </ul> 
        <br />

        <strong style="text-align:center">Formación Académica</strong> 

        <ul>

            <li>2004  Conclusión educación primaria</li>
            <li>  2009 Conclusión de Educación Diversificada (Quinto Año) en el Colegio María Inmaculada, San Carlos.</li>
            <li> 2014 Empezando bachillerato en Ingeniería en Software, diplomado concluido   </li>
        </ul>

        <br />
        <strong style="text-align:center">Otros Cursos o Seminarios</strong> 
        
        <ul>
           
            <li>2011 Curso básico e intermedio de Inglés en el INA.</li>
            <li> 2011 Curso básico Desarrollo de aplicaciones con Android.</li>
            <li> 2012 Curso básico Desarrollo de aplicaciones con Android.</li>
            <li>2012 Curso sobre aplicaciones 	web (HTML,CSS,Jquery,Node.js,Python,Django,Phonegap,Jquery mobile, Responsive Design,JavaScript)</li>
            <li> 2013  Finalización del curso CCNA en el Colegio Técnico Regional de San Carlos.</li>
            <li>2013  En la actualidad realizando el Curso administrador Ubuntu Linux(DotLinux).</li>
            <li>2013  Curso de Inglés conversacional (Silvia Hidalgo), preparación para examen TOEIC.</li>
        </ul>

        <br />

        <strong style="text-align:center">Idioma</strong> 

        <ul>
            <li>Español: Lengua nativa.</li>
            <li>Inglés: Nivel intermedio-avanzado.</li>
        </ul>
        <br />

        <strong style="text-align:center">Experiencia Profesional</strong> 

        <ul>
            <li>2013 En la actualidad estoy realizando un servicio web para el Colegio Técnico Regional de San Carlos, es un inventario con inserciones, modificaciones, borrados, sobre información en la base de datos Sql Server 2008, mediante el lenguaje C#.</li>
            <li>De Febrero del 2012 a Mayo del 2013 en revisión y reparación del equipo de cómputo de la Canasta Básica.</li>
        </ul>
        <br />
        <strong style="text-align:center">Competencias Técnicas y Conductuales</strong> 

        <ul>
            <li>Conocimientos en programación de escritorio en C#(Windows 7/8) y Java, utilizando arreglos, matrices, listas, creación de interfaces, servicios web, conexión de la aplicación a base de datos ;además en programación web HTML,CSS, Jquery, JavaScript,PHP, diseñando páginas webs que interactúan con el usuario.</li>
            <li>Conocimientos sobre redes(Configuración e Instalación utilizando dispositivos cisco).</li>
            <li>Distintivo por competencias conductuales como Liderazgo, Trabajo en Equipo, Habilidades Interpersonales, Responsabilidad, Iniciativa y Autoridad entre otras.</li>
        </ul>
        <br />
        <strong style="text-align:center">Referencias</strong> 

        <ul>
            <li>Silvia Hidalgo ,profesora de Inglés, cédula 2-408-131, teléfono 24-60-06-39.</li>
            <li>Gilberth Guillén , Profesor de Informática Colegio Técnico Regional de San Carlos, cédula 2-521-398 ,celular 87-07-76-14.</li>
            <li>Danilo Vargas, Director Ingeniería en software UTN/Profesor, cédula 2 567 455, celular 87-07-50-00.</li>
            <li>Yadira Hernández, propietaria de supermercado Canasta Básica, cédula 2 288 754, celular 83-53-93-55.</li>
        </ul><br /><br />
        
        </div>    
    </div>